@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
* {
  box-sizing: border-box;
  margin: 0;
}


h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: sans-serif;
}

.loading-page {
  background: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter p {
  font-size: 25px;
    font-style: bold;
  font-weight: 200%;
  color: white;
    letter-spacing: 10px;
}
.loading-page .counter h1 {
  color: black;
  font-size: 20px;
  margin-top: 0px;
    letter-spacing: 1px;
}
.loading-page .counter hr {
  background: black;
  border: none;
  height: 3px;
}
.loading-page .counter {
  position: relative;
  width: 100%;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: red;
}


